/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url("/images/cover-image-dark.png");
  --bg-color: rgba(0, 0, 40, 1);
  --title-color: rgba(219, 0, 255, 1);
  --text-color: rgba(241, 178, 206, 1);
  --name-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --heading-color: rgba(255, 0, 112, 1);
  --hover-color: rgba(255, 0, 112, 0.4);
  --button-color: rgba(255, 0, 112, 1);
}