/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(/images/cover-image-light.png);
  --bg-color: rgba(255, 241, 247, 1);
  --title-color: rgba(255, 194, 230, 1);
  --text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --name-color: rgba(53, 52, 48, 1);
  --heading-color: rgba(53, 52, 48, 1);
  --hover-color: rgba(50, 49, 45, 0.4);
  --button-color: rgba(53, 52, 48, 1);
}


@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(/images/cover-image-light.png);
    --bg-color: rgba(255, 241, 247, 1);
    --title-color: rgba(255, 194, 230, 1);
    --text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --name-color: rgba(53, 52, 48, 1);
    --heading-color: rgba(53, 52, 48, 1);
    --hover-color: rgba(50, 49, 45, 0.4);
    --button-color: rgba(53, 52, 48, 1);
  }

  .theme-auto .header__theme-menu::before {
    display: none;
  }

  .theme-auto .header__theme-menu::after {
    display: none;
  }
  
}